html {
	min-height: 100%;
}

body {
	height: 100%;
	background: linear-gradient(#000000, #8B4513, #696969);
	font-family: 'Coming Soon', cursive;
}


#header {
	margin-top: 0.5em;
	border-top: 3px white solid;
	border-bottom: 3px white solid;
}

.categories {
	margin: 0.5em;
	text-shadow: 0px 0px 2px white, 0px 0px 1px black, 0px 0px 2px white;
	font-size: 1.5em;
}

#search-panel {
	background-color: inherit;
	color: white; 
}

#search-form {
	padding-top: 1em;
}

.alert {
	margin-top: 0.25em;
}

.h3 {
	text-decoration: underline;
}

li {
	margin-bottom: 0.25em;
}

h5 {
	margin: 1em;
	font-family: Arial, Helvetica, sans-serif;
}

.result-col {
	position: relative;
	padding-bottom: 1.5em;
}

.rating {
	position: absolute;
	top: 0.5em;
	left: 1.375em;
	background-color: rgba(0,0,0,0.5);
	color: rgba(255,255,255,0.5);
	border-radius: 5px;
	padding: 0.5em;
	min-width: 2.5em;
	max-width: 5em;
	font-size: 1.25em;
	text-align: center;
	font-family: 'Syncopate', sans-serif;
}

.footer {
	margin-top: 1em;
	padding-top: 1em;
	width: 100%;
	background-color: inherit;
	border-top: 3px white solid;
	color: white;
}

.footer a:link {
    text-decoration: none;
    color: white;
    font-size: 2em;
}

.footer a:hover {
	filter: drop-shadow(0.063em 0.063em 0em orange);
}

.footer a:visited {
    text-decoration: none;
    color: white;
}